:root {
  --level-high-color: #ffe3e3;
  --level-medium-color: #fff4cc;
  --level-low-color: #e0fdef;
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
}
